<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="icon" type="image/png" href="favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/assets/contact/vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="/assets/contact/vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="/assets/contact/vendor/select2/select2.min.css">

	
	<link rel="stylesheet" type="text/css" href="/assets/navbar.css">
	<link rel="stylesheet" type="text/css" href="/assets/contact/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/contact/main.css">
</head>
<style>
	* {
  margin: 0;
  padding: 0;
  
  
}
	
	.mega-box .content{
    white-space: normal;
    
  }
.mega-box .content .row{
  margin-left: 15px;
	white-space: normal;
	
}
	.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}
.nav-links .drop-menu {
  
  line-height: 45px;
  
}

</style>
<body>
	<nav id="navbar" >
		<div class="wrapper" >
			<div class="logo"><a href="#">Contact</a></div>
			<input type="radio" name="slider" id="menu-btn">
			<input type="radio" name="slider" id="close-btn">
			<ul class="nav-links">
				<label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
				<li><a href="/dashboard" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
				<li><a href="users/trainingMaterial" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i class="fa fa-info-circle" aria-hidden="true"></i> Training Material</a></li>
				<li><a href="/users/trainingCourse" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i class="fa fa-video-camera" aria-hidden="true"></i>
						Training Course</a></li>
				<li>
					<a href="#" class="desktop-item" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i class="fa fa-users" aria-hidden="true"></i> Sectors <i class="fa fa-angle-down" id="arrow"
							aria-hidden="true" ></i></a>
					<input type="checkbox" id="showDrop">
					<label for="showDrop" class="mobile-item"><i class="fa fa-users" aria-hidden="true"></i> Sectors <i class="fa fa-angle-down" id="arrow"
							aria-hidden="true"></i></label>
					<ul class="drop-menu" style="font-family: Verdana, Geneva, Tahoma, sans-serif; ">
						<li><a href="#">Beer</a></li>
						<li><a href="#">Paper and pulp</a></li>
						<li><a href="#">Meat processing</a></li>
						<li><a href="#">Sugar</a></li>
						<li><a href="#">Vegetable oils</a></li>
						<li><a href="#">Wine</a></li>
						<li><a href="#">Juice</a></li>
						<li><a href="#">Biodiesel</a></li>
						<li><a href="#">Cheese</a></li>
						<li><a href="#">Potato processing</a></li>
						<li><a href="#">Ice-cream</a></li>
						<li><a href="#">Tomato processing</a></li>
						<li><a href="#">Yeast production</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="desktop-item" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Mega Menu <i class="fa fa-angle-down" id="arrow"
							aria-hidden="true"></i></a>
					<input type="checkbox" id="showMega">
					<label for="showMega" class="mobile-item">Mega Menu <i class="fa fa-angle-down" id="arrow"
							aria-hidden="true"></i></label>
					<div class="mega-box">
						<div class="content">
							<div class="row" >
	
								<header>Anaerobic bioreactor technologies</header>
								<ul class="mega-links" >
									<li><a href="#">Safety equipment</a></li>
									<li><a href="#">Tanks and accessories</a></li>
									<li><a href="#">Mixing equipment</a></li>
									<li><a href="#">Pumping equipment</a></li>
									<li><a href="#">Heating equipment</a></li>
									<li><a href="#">Process monitoring equipment</a></li>
									<li><a href="#">Installation, operation and maintenance</a></li>
								</ul>
							</div>
							<div class="row">
								<header>Dropdown</header>
								<ul class="mega-links">
									<li><a href="#">Dropmenu 1</a></li>
									<li><a href="#">Dropmenu 2</a></li>
									<li><a href="#">Dropmenu 3</a></li>
									<li><a href="#">Dropmenu 4</a></li>
								</ul>
							</div>
							<div class="row">
								<header>Aerobic bioreactor technologies</header>
								<ul class="mega-links">
									<li><a href="#">Tanks and accessories (3D printing tanks)</a></li>
									<li><a href="#">Pumping equipment</a></li>
									<li><a href="#">Aeration equipment</a></li>
									<li><a href="#">Mixing equipment</a></li>
									<li><a href="#">Heating equipment</a></li>
									<li><a href="#">Process monitoring equipment</a></li>
									<li><a href="#">Installation, operation and maintenance</a></li>
								</ul>
							</div>
							<div class="row">
								<header>Dropdown</header>
								<ul class="mega-links">
									<li><a href="#">Dropmenu 1</a></li>
									<li><a href="#">Dropmenu 2</a></li>
									<li><a href="#">Dropmenu 3</a></li>
									<li><a href="#">Dropmenu 4</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li><a href="/users/contact" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i class="fa fa-comment" aria-hidden="true" ></i> Contact</a></li>
				<li><a href="/users/logout" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><i class=icon-foo
							style="font-family: FontAwesome; font-style: normal;">&#xf08b;</i> Log out</a></li>
			</ul>
			<label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
		</div>
	</nav>
<div class="bg-contact100 ">
	<div class="container-contact100 ">
		<div class="wrap-contact100 ">
			<div class="contact100-pic js-tilt" data-tilt>
				<img src="/images/contact/img-01.png" alt="IMG">
			</div>
	        <form class="contact100-form validate-form ">
		        <span class="contact100-form-title">
			             Contact Us
		        </span>
		        <div class="wrap-input100 validate-input" data-validate="Name is required">
			        <input class="input100" type="text" id="name" name="name" placeholder="Name" /> 
			        <span class="focus-input100"></span>
			        <span class="symbol-input100">
            				<i class="fa fa-user" aria-hidden="true"></i>
            			</span>
            		</div>
            		<div class="wrap-input100 validate-input" data-validate="Message is required">
            			<input class="input100" type="text" id="subject" placeholder="Subject" /> 
            			<span class="focus-input100"></span>
            			<span class="symbol-input100">
							<i class=icon-foo style="font-family: FontAwesome; font-style: normal;">&#xf040;</i>
            			</span>
            		</div>
            		<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            			<input class="input100" type="email" name="email" id="email" placeholder="Your email" /> 
            			<span class="focus-input100"></span>
            			<span class="symbol-input100">
            				<i class="fa fa-envelope" aria-hidden="true"></i>
            			</span>
            		</div>
            		<div class="wrap-input100 validate-input" data-validate="Message is required">
            			<textarea class="input100 msg" name="message" id="text" placeholder="Message" ></textarea> 
            		
            			<span class="focus-input100"></span>
            		</div>
            		
            		<input class="contact100-form-btn btn2 " type="submit" value="Send" style="cursor:pointer" />
	            </form>
	        </div>
	    </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	
	
	
<!--===============================================================================================-->
	
<script>
	$("form").on("submit", e => {
			e.preventDefault();

			const email = $("#email")
				.val()
				.trim();
			const subject = $("#subject")
				.val()
				.trim();
			const text = $("#text")
				.val()
				.trim();

			const data = {
				email,
				subject,
				text
			};
			$.post("http://localhost:5000/users/contact", data)
			.then(() => {
				console.log("sent");
				alert('Email sent')
				window.location.href='/users/contact'
			})
			.catch(() => {
				console.log("error")
				alert("Something went wrong. Please try again in a few minutes.")
				window.location.href = '/users/contact'
			});
		});
			
				

		
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script>
	$('.js-tilt').tilt({
		scale: 1.1
	})
</script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!--===============================================================================================-->
<script src="/assets/contact/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/contact/vendor/bootstrap/js/popper.js"></script>
<script src="/assets/contact/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/contact/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/contact/vendor/tilt/tilt.jquery.min.js"></script>

<script src="/assets/contact/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>
