
#user_data{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form{
    background-color:#fff;
    border: 2px solid black;
    padding: 10px;
    max-width: fit-content;
    
    position: relative;
    left: 30%
}


@media screen and (max-width: 1000px) {
    form{
        left: 0;
    }
}